.order-form {
  margin-top: 100px;
  margin-left: 100px;
  border-radius: 5px;
  padding: 10px;
  .form-title {
    font-weight: 600;
    font-size: 18px;
  }
  .input-group {
    margin: 20px auto;
  }
  .input-field {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid lightgray;
  }
  .btn-continue {
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    color: #fff;
    background: #000338;
  }
}

@media only screen and (max-width: 600px) {
  .order-form {
    margin: 0;
    border-radius: 5px;
    padding: 36px;
  }
}
