.main-page {
  display: flex;
  justify-content: start;
  background: #fff;
  min-height: 100vh;
}

.text-error {
  color: red;
}

.text-green {
  color: green;
}

@media only screen and (max-width: 600px) {
  .main-page {
     flex-direction: column;
  }
}
